@(tic_id: String, ticket: Form[model.Ticket]) 
@import helper._
<!DOCTYPE html>

<html lang="en">

<head>
<title>Welcome</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png"
	href="@routes.Assets.versioned("images/favicon.png")">
<script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
</head>
<body>
	<!--     <form method="POST" action="/updateTicket/@tic_id"> -->
	@helper.form(action=routes.Application.updateTicket(tic_id)){
	<p>
	<fieldset>
	    @helper.inputText(ticket("ticketId"))
		@helper.inputText(ticket("customerInfo"))
		@helper.inputText(ticket("comment"))
		@helper.inputText(ticket("createdBy"))
		@helper.inputText(ticket("assignedTo"))
		@helper.inputText(ticket("status"))
	</fieldset>
	
	<input type="submit" name="submit" value="Update">
	
	}
</body>



</html>