@(ticketsListNew: List[model.Ticket],ticketsListOpen: List[model.Ticket],ticketsListClosed: List[model.Ticket])
<!DOCTYPE html>

<html lang="en">

    <head>
    <title>Welcome </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
    <form method="GET" action="/displayTickets">
    <fieldset>
    <legend>All Tickets</legend>
    <table border="1" >
   <tr >
   <td colspan="3" class="stat">New</td>
   </tr>
   <tr>
    <td bgcolor="red">Ticket Id</td>
      <td bgcolor="red">Customer Info</td>
         <td bgcolor="red">Change</td>
   </tr>
  @if(ticketsListNew.isEmpty()){
    <tr ><td colspan="3">
   No Records Found for Status NEW
   </td>
   </tr>
   }
    @for(newS <- ticketsListNew){
    <tr>
   <td >@newS.ticketId</td>
   <td >@newS.customerInfo</td>
   <td> <a href="/editTicketStatus/@newS.ticketId"> Edit</a></td>
   </tr>
   }
   
   
   <tr>
   <td colspan="3" class="stat">Open</td>
   </tr>
   <tr>
   <td bgcolor="red">Ticket Id</td>
      <td bgcolor="red">Customer Info</td>
         <td bgcolor="red">Change</td>
   </tr>
  
   @if(ticketsListOpen.isEmpty()){
    <tr ><td colspan="3">
   No Records Found for Status OPEN
   </td>
   </tr>
   }
    @for(open <- ticketsListOpen){
    <tr>
   <td >@open.ticketId</td>
   <td >@open.customerInfo</td>
   <td> <a href="/editTicketStatus/@open.ticketId"> Edit</a></td>
   </tr>
   }
   
    <tr>
   <td colspan="3" class="stat">Closed</td>
   </tr>
   <tr>
    <td bgcolor="red">Ticket Id</td>
      <td bgcolor="red">Customer Info</td>
         <td bgcolor="red">Change</td>
   </tr>
   @if(ticketsListClosed.isEmpty()){
    <tr ><td colspan="3">
   No Records Found for Status CLOSED
   </td>
   </tr>
   }
    @for(closed <- ticketsListClosed){
    <tr>
   <td >@closed.ticketId</td>
  
   <td >@closed.customerInfo</td>
    <td>Ticket Closed Already</td>
   </tr>
   }
</table>
</fieldset>
    </form>
    </body>
    
</html>